*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

form{
    padding: 20px;
}

form input[type=number]{
    padding: 10px;
}

button{
    padding: 10px;
}

.col{
    display: flex;
    flex-direction: row;
}

span{
    font-size: xx-large;
    padding-left: 20px;
}

.row{
    padding: 30px 0px;
}

p{
    font-size: larger;
    padding-left: 25px;
}